# Virtual environment -Ignorerar hela vår virtuella miljö-
venv/

# Python Cache. -Ignorerar filer som Python genererar automatiskt-
__pycache__/
*.pyc

# macOS -Ignorerar en metadatafil som macOS gärna skapar i mappar-
.DS_Store

# API key is stored in the .env file (should not be published on Github)
.env